*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.container-time{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.current-time{
    font-family:"consolas";
    font-size: 4rem;
}

.alarm-time{
    margin: 5% 0 0 0;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.alarm-display{
    height: 50px;
    background-color: bisque;
}

.alarm-buttons ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 3%;
    justify-content: center;
    gap: 4%;
}

.btn-alarm{
    padding: 3%;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 10px;
    background-color: aqua;
    cursor: pointer;
}