*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.container-time{
    display: flex;
    justify-content: center;
}

.current-time{
    font-family:"consolas";
    font-size: 4rem;
}